           h1,h3
           {
               color: rgb(23, 145, 7);
           }

        body
        {
           background-color: #bbffb3;
    
        }
        #r:hover{
            background-color:red;
            border-radius: 100%;
        }
         table
           {
               border-collapse: collapse;
           }
           td, th
           {
               border: 5px solid rgb(0, 0, 0);
               padding: 10px;
           }
           th[scope="si"]
           {
               
               color:rgb(7, 7, 7);
           }
           tr[scope="vi"]
           {
          
            color: rgb(4, 4, 4);  
           }
           td[scope="ki"]
           { 
               height: 30%;
              background-color: rgb(7, 6, 6);
           }
           hr{
               border-style: none;
               border-top-style: dotted;
               border-color: #AD8B73;
               border-width: 5px;
               width: 5%;
            }